<!-- SEO -->
<meta name="keywords"
      content="ASCII Dresden, Studentencafé Dresden, Café TU Dresden, Studenten Café Dresden, Kaffee Dresden, Lerncafé Dresden, Hochschulcafé Dresden, Studenten Treffpunkt, Dresden Café, Study Café Dresden, Kaffee trinken Dresden">
<meta name="description"
      content="{{ with .Params.description }}{{ . }}{{ else }}ASCII Dresden – Das studentische Café an der TU Dresden.{{ end }}">
<meta name="robots" content="index, follow">

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "CafeOrCoffeeShop",
        "name": "ASCII Dresden",
        "image": [
            "https://ascii.jannikmenzel.me/social-preview.png",
            "https://ascii.jannikmenzel.me/logo.png"
        ],
        "url": "https://ascii-dresden.de",
        "logo": "https://ascii.jannikmenzel.me/logo.png",
        "description": "ASCII Dresden – Ein studentisches Café an der TU Dresden. Ideal zum Lernen, Austauschen und Kaffeetrinken.",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Andreas Pfitzmann Bau",
            "addressLocality": "Dresden",
            "addressRegion": "Sachsen",
            "postalCode": "01062",
            "addressCountry": "DE"
        },
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": 51.0330,
            "longitude": 13.7290
        },
        "openingHoursSpecification": [
            {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday"
                ],
                "opens": "09:00",
                "closes": "17:00"
            },
            {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": [
                    "Saturday"
                ],
                "opens": "09:00",
                "closes": "15:00"
            }
        ],
        "sameAs": [
            "https://github.com/ascii-dresden",
            "https://www.instagram.com/asciidresden/"
        ]
    }
</script>

<!-- Open Graph -->
<meta property="og:title" content="ASCII Dresden – Studentencafé an der TU Dresden"/>
<meta property="og:description"
      content="Lernen, Austauschen und Kaffeetrinken im studentischen Café ASCII Dresden. Perfekt für Studenten der TU Dresden und Lernende in Dresden."/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://ascii-dresden.de"/>
<meta property="og:image" content="https://ascii.jannikmenzel.me/social-preview.png"/>
<meta property="og:image:alt" content="ASCII Dresden – Studentencafé"/>
<meta property="og:locale" content="de_DE"/>
